workspace.xml
uiDesigner.xml
dictionaries/
out/
.classpath
.project
theres-a-pattern-there-to-follow.eml
theres-a-pattern-there-to-follow.userlibraries
bin/
sh.exe.stackdump
save.xml
*.iml
.gradle
local.properties
.idea/libraries
.idea/modules.xml
.DS_Store
build/
captures/
caches/
.externalNativeBuild
