<?xml version="1.0" encoding="UTF-8" standalone="no"?><settings>
    <parameter name="isRealTime" type="Boolean" value="false"/>
	<parameter name="simultaneousSpawn" type="Integer" value="3"/>
	<parameter name="spawnPeriod" type="Integer" value="1500"/>
	<parameter name="something" type="Integer" value="1"/>  
</settings>